[submodule "Core"]
	path = Core
	url = https://github.com/billyzkid/CubismWebCore.git
[submodule "Framework"]
	path = Framework
	url = https://github.com/billyzkid/CubismWebFramework.git
[submodule "Samples"]
	path = Samples
	url = https://github.com/billyzkid/CubismWebSamples.git
